@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background: #14141f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin: 100px;
    position: relative;
    height: 700px;
    width: 1400px;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
  
}



nav a {
    background-color: purple;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 15px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s ease;
}


nav a:hover {
    background-color:black;
    transform: scale(1.2); 
}



#Current-info{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color:black;
    margin-bottom: 60px;
    height: 30px;
    width: 600px;
}



h1#anime-title {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0;
    padding: 20px;
    color: blue;
}



#anime-title:hover {
    transform: scale(1.1);
}

h2{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 0;
    padding: 20px;
    color: black;   
}


.anime-card {
    background: #1f1f2e;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    
}





.anime-card img {
    width: 100%;
    border-radius: 10px;
}


#anime-details {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 20px;
    padding: 20px;
    background: #1f1f2e;
    border-radius: 10px;
}


#filters {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


  #genre-filter {
    padding: 1%;
    height: 80%;
    width: 500px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid white;
  }

#search-btn{
    width: 60px;
    height: 60px;
}
.anime-search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #ff67d5;
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

#anime-list {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


