@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background: #14141f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin: 100px;
    position: relative;
    height: 700px;
    width: 1400px;
    background-image: url(../assets/_.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
  
}



nav a {
    background-color: purple;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 15px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease;
}


nav a:hover {
    background-color:black;
    transform: scale(1.2); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}


nav a:hover,
nav a.active {
    color: #ff67d5;
}

p#Current-info{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color:purple;
    margin-bottom: 60px;
    height: 30px;
    width: 600px;
}



h1#anime-title {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin: 0;
    padding: 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.432);
}



#anime-title:hover {
    transform: scale(1.1);
}


.anime-card {
    background: #1f1f2e;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(7, 87, 107, 0.322); 
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.anime-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 30px 20px rgba(6, 84, 104, 0.795); 
}

.anime-card img {
    width: 100%;
    border-radius: 10px;
}


#anime-details {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 20px;
    padding: 20px;
    background: #1f1f2e;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#anime-details:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}


#filters {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


  #genre-filter {
    padding: 1%;
    height: 80%;
    width: 500px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid white;
  }

